/amazon_logo.png
/Animation.css
/Animation.html
/balavadra_img.jpg
/borderround.html
/box1_image.jpg
/box2_image.jpg
/box3_image.jpg
/box4_image.jpg
/box5_image.jpg
/box6_image.jpg
/box7_image.jpg
/box8_image.jpg
/cat_photo.jpg
/flex.css
/flex.html
/hero_image.jpg
/image.css
/image.html
/jaganath_img.jpg
/jagannath.css
/jagannath.html
/kalia_img.jpg
/mediaq.css
/mediaq.html
/nature_img.jpg
/position.html
/practice1.html
/practice10.html
/practice11.html
/practice12.css
/practice12Ani.html
/practice2.html
/practice3.html
/practice4.html
/practice5.html
/practice6.html
/practice8.html
/property.html
/style.css
/style10.css
/style11.css
/style2.css
/style3.css
/style4.css
/style5.css
/style6.css
/style7.css
/style8.css
/style9.css
/trasition.css
/trasition.html
/units.html
/unitstyle.css